@mixin link {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: whitesmoke;
  padding-bottom: 0.5rem;
}

@mixin fliper {
  display: inline-block;
  transform: rotateX(180deg);
}
