@mixin link {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 0.5rem solid #f07140;
  span {
    display: flex;
    width: 100%;
    font-size: 2.5rem;
    color: #f07140;
  }
}
@mixin sideTxt {
  display: flex;
  height: 100%;
  font-size: 2.5rem;
  color: #f07140;
  transform: rotate(90deg);
  transform-origin: left top;
  float: left;
}
