@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import "_mixins";

html {
  font-size: 10px;
}

//1375
//835 45 500

body {
  display: grid;
  height: 200vh;
  width: 100%;
  grid-template-columns: 60% 40%;
  background-color: #fe7401;
  font-family: Arial, Helvetica, sans-serif;
}

.leftWrpper {
  position: relative;
  display: grid;
  width: 100%;
  grid-template-rows: repeat(auto-fill, minmax(8%, 1fr));
  grid-auto-rows: 8%;
  margin: 1rem;
  padding: 1px;
  justify-items: center;
  background-color: #fd2e00;
}
.box:hover {
  z-index: 0;
  background-color: white;
  border: 1px solid white;
  margin-top: -1px;
  div {
    color: white;
  }
  div:nth-child(4) {
    span {
      background-color: white;
    }
  }
}
.box {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(3.5rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(50%, 1fr));
  div {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 1px;
    background-color: #fe7401;
    color: #fd2e00;
    span {
      display: grid;
      white-space: nowrap;
      width: max-content;
      font-size: 1.5rem;
    }
  }
  div:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    span {
      display: grid;
      transform: rotateZ(-90deg);
    }
  }
  div:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: -6;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: start;
    padding-left: 2rem;
    span {
      font-size: 6vw;
      white-space: normal;
      width: fit-content;
      letter-spacing: -0.5rem;
    }
  }
  div:nth-child(3) {
    grid-column-start: -6;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    span {
      letter-spacing: -0.1rem;
    }
  }

  div:nth-child(4) {
    grid-column-start: -6;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;
    span {
      text-align: center;
      width: 10rem;
      border-radius: 10%;
      background-color: #fd2e00;
      color: #c9870f;
      padding: 10px;
      border-radius: 90rem;
      font-size: 1.3rem;
    }
  }
}

.rightWrpper {
  position: fixed;
  margin-left: 60%;
  display: grid;
  height: 100%;
  width: 40%;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(8%, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(3%, 1fr));
  grid-auto-rows: 3%;
  padding-left: 2.2rem;
}

.centerTop {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  background-color: #fa34ff;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 17;
  padding-top: 1rem;
  span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
    font-size: 3vh;
    letter-spacing: -0.1rem;
  }
}
.centerBttm {
  display: grid;
  justify-items: center;
  align-content: flex-end;
  background-color: #1900ff;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 17;
  grid-row-end: -1;

  padding-bottom: 1rem;
  span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
    font-size: 3vh;
    letter-spacing: -0.1rem;
    transform: rotate(180deg);
    div {
      display: flex;
      justify-items: center;
      align-items: flex-end;
    }
  }
}

.centerMiddle {
  display: grid;
  z-index: 12;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 16;
  grid-row-end: 18;
  margin-top: -1.2rem;
  font-size: 7rem;
}
.cMark {
  display: flex;
  width: 2.6vh;
  height: 2.6vh;
  background-image: url("../../dest/css/1.png");
  background-size: cover;
  transform: rotate(270deg);
  margin-left: 0.2rem;
}
.boxRed {
  display: flex;
  background-color: #fd2e00;
  padding-right: 2.2rem;
  justify-content: space-between;
  letter-spacing: -0.1rem;
  div {
    justify-content: start;
    align-content: flex-start;
    display: grid;
    width: 50%;
    height: 100%;
    margin: 1rem;
    padding-top: 1.5rem;
    border-top: 0.2rem solid black;

    span:first-child {
      @include redFont;
      width: max-content;
    }
    span:nth-child(2) {
      display: flex;
      font-size: 1vw;
    }
  }
}

.header {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 3;
  div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 0;
    margin-top: -0.5rem;
  }
  div:nth-child(2) {
    span:nth-child(1) {
      margin-left: -1rem;
    }
    span:nth-child(2) {
      @include redFont;
    }
  }
}
.mainOne {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: 8;
}
.mainTwo {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 8;
  grid-row-end: 14;
}
.mainThree {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 14;
  grid-row-end: 20;
}
.mainFour {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 20;
  grid-row-end: 26;
}
.bttmOne {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: -9;
  grid-row-end: -5;
}

.bttmTwo {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: -5;
  grid-row-end: -1;
}

.longName {
  word-spacing: -0.3vw;
}
