@import "_mixins";

html {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  height: 3000vh;
  width: 100vw;
}

header {
  display: grid;
  grid-template-columns: 0.3fr 3.4fr 0.3fr;
  grid-template-rows: 2.5rem;
  background-color: #bcbec0;
  border-radius: 3px 3px 0 0;
  align-items: center;
  .circleBox {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;

    .circle {
      display: inline-block;
      border-radius: 50%;
      border: 0.1rem solid #8f9094;
      width: 0.8rem;
      height: 0.8rem;
    }
  }
  .rectangleBox {
    display: flex;
    justify-content: center;
  }
  .rectangle {
    display: flex;
    width: 28rem;
    height: 1.5rem;
    border: 0.1rem solid #8f9094;
    border-radius: 3px;
  }
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(51rem, 1fr));
}
.left {
  display: grid;
  order: -2;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(17rem, 1fr));
}
.right {
  order: -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(17rem, 1fr));
  font-size: 1.5rem;
}
.black {
  order: 1;
  background-color: #000000;
  color: white;
  font-size: 2.3rem;
  padding: 1rem;
  line-height: 110%;
  .logoReverse span {
    @include fliper;
    color: white;
    margin: -0.55rem;
  }
}
.blue {
  order: 2;
  background-color: #6c1cff;
}

.red {
  order: 3;
  font-size: 1.8rem;
  padding: 1rem;
  line-height: 120%;
  background-color: #ff1502;
}
.empty {
  order: 5;
}
.white {
  order: 4;
  background-color: white;
}
.yellow {
  order: 6;
  font-size: 1.8rem;
  padding: 1rem;
  background-color: #ffc904;
}

.speakers {
  order: 7;
  padding-left: 1rem;
  @include link;
  .underLine {
    background-color: #6c1cff;
    width: 12.7rem;
  }
}
.artists {
  order: 8;
  padding-left: 1rem;
  @include link;
  .flip {
    @include fliper;
  }
}

.title {
  display: flex;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: -1rem;
}
